{% extends 'base.html' %}
{% block title %}Detection-Real-Time Webcam{% endblock %}
{% block logout %}<i class="bx bxs-log-out-circle"></i> Logout || {{ username[:15] + '...' if username|length > 15 else username }}{% endblock %}
{% block dashboard %}
<a href="/" 
><i class="bx bxs-dashboard icon"></i> Dashboard</a
>
{% endblock %}
{% block webcam %}
<a href="/webcam" class="active"><i class="bx bxs-webcam icon"></i> Real-Time Webcam</a>
{% endblock %}
{% block content %}
<main>
    <h1 class="title">Real-Time Webcam</h1>
    <ul class="breadcrumbs">
        <li><a href="#">Detection</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Real-Time Webcam</a></li>
    </ul>
    </div>
    <div class="data">
        <div class="content-data">
            <div class="head">
                <h3>Display Camera</h3>
            </div>
            <div>
                <div class="imgcont">
                    <div id="imageContainer">
                        <!-- Placeholder image -->
                        <img src="{{ url_for('views.videowebcam') }}" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2023 FaceRec by PBL IF-5 AI. All Rights Reserved.</p>
        <p>
            <a href="#">Dashboard</a> |
            <a href="#">Kehadiran</a> |
            <a href="#">Webcam</a>
        </p>
        <p>Follow us on:
            <a href="#" target="_blank" rel="noopener">Facebook</a>
            |
            <a href="#" target="_blank" rel="noopener">Twitter</a> |
            <a href="#" target="_blank" rel="noopener">Instagram</a>
        </p>
    </div>
</main>
{% endblock %}