{% extends 'base.html' %}
{% block title %}Detection-Ambil Data Photo{% endblock %}
{% block logout %}<i class="bx bxs-log-out-circle"></i> Logout || {{ username[:15] + '...' if username|length > 15 else username }}{% endblock %}
{% block dashboard %}
<a href="/"
><i class="bx bxs-dashboard icon"></i> Dashboard</a
>
{% endblock %}
{% block camdata %}
<a href="/camdata" class="active"
><i class="bx bxs-camera-plus icon"></i> Ambil Data Photo</a
>
{% endblock %}
{% block content %}
<main>
    <h1 class="title">Ambil Data Photo</h1>
    <ul class="breadcrumbs">
        <li><a href="#">Detection</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Ambil Data Photo</a></li>
    </ul>
    </div>

    <div class="data">
        <div class="content-data">
            <div class="head">
                <h3>Display Camera</h3>
            </div>
            <div>
                <form action="/startdata" method="post">
                    <label for="file_name">Tentukan nama file:</label><br>
                    <input type="text" name="file_name" required><br><br>
                    
                    <label for="camera">Pilih Camera:</label><br>
                    <select name="camera" id="camera"></select><br><br>
            
                    <button type="submit">Start Capture</button>
                </form>
            
                <form action="/stopdata">
                    <button type="submit">Stop Capture</button><br><br>
                </form>
                <div class="imgcont">
                    <div id="imageContainer">
                        <!-- Placeholder image -->
                        <img src="{{ url_for('views.videodata') }}" height="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2023 FaceRec by PBL IF-5 AI. All Rights Reserved.</p>
        <p>
            <a href="#">Dashboard</a> |
            <a href="#">Kehadiran</a> |
            <a href="#">Webcam</a>
        </p>
        <p>Follow us on:
            <a href="#" target="_blank" rel="noopener">Facebook</a>
            |
            <a href="#" target="_blank" rel="noopener">Twitter</a> |
            <a href="#" target="_blank" rel="noopener">Instagram</a>
        </p>
    </div>
</main>
{% endblock %}
{% block java %}
<script>
    // Fetch available cameras and populate the dropdown
    fetch('/get_available_cameras')
        .then(response => response.json())
        .then(data => {
            const cameraDropdown = document.getElementById('camera');
            data.available_cameras.forEach(camera => {
                const option = document.createElement('option');
                option.value = camera;
                option.text = `Camera ${camera}`;
                cameraDropdown.add(option);
            });
        });
</script>
{% endblock %}