{% extends 'base.html' %}
{% block title %}Main-History & Laporan{% endblock %}
{% block logout %}<i class="bx bxs-log-out-circle"></i> Logout || {{ username[:15] + '...' if username|length > 15 else username }}{% endblock %}
{% block dashboard %}
<a href="/"
><i class="bx bxs-dashboard icon"></i> Dashboard</a
>
{% endblock %}
{% block Kehadiran %}
<a href="#" class="active"
><i class="bx bxs-user-check icon"></i> Kehadiran
<i class="bx bx-chevron-right icon-right"></i
></a>
{% endblock %}
{% block content %}
<main>
    <h1 class="title">History & Laporan</h1>
    <ul class="breadcrumbs">
        <li><a href="#">Main</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Kehadiran</a></li>
        <li class="divider">></li>
        <li><a href="#" class="active">History & Laporan</a></li>
    </ul>
    </div>
    <div class="data">
        <div class="content-data">
            <div class="head">
                <h3>Tabel History Kehadiran</h3>
                <div>
                    <button class="cool-button" onclick="exportToExcel()">Excel</button>
                    <button class="cool-button" onclick="exportToPDF()">PDF</button>
                </div>
            </div>
            <div>
                <table id="example" class="display"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Username</th>
                            <th>Waktu Terdeteksi</th>
                            <th>Waktu Hadir</th>
                            <th>Status</th>
                            <!-- Add more headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>{% for row in rows %}
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2023 FaceRec by PBL IF-5 AI. All Rights Reserved.</p>
        <p>
            <a href="#">Dashboard</a> |
            <a href="#">Kehadiran</a> |
            <a href="#">Webcam</a>
        </p>
    </div>
</main>
{% endblock %}
{% block java %}
<script>
    function exportToExcel() {
        const table = document.getElementById("example");
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        XLSX.writeFile(wb, "Tabel-Kehadiran.xlsx");
    }

    function exportToPDF() {
        const content = document.getElementById("example");
        const options = {
            margin: 10,
            filename: 'Tabel-Kehadiran.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };
    
        html2pdf(content, options);
    }
    
</script>
{% endblock %}